@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
}

.features-container {
    padding-top: 5%;
}

.title-text {
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.title-phantom {
    color: #9A0E0E;
}

.feature-title {
    color: #CC6633;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.feature-text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.task-feature-list-description {
    list-style: circle;
    
}