@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
}

.hero-img{
    width: 45%;
}

.hero-text {
    color: #B59E90;
}

.hero-text h1 {
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.typing-hero-text {
    color: #CC6633;
}

#start-button {
    background-color: #9A0E0E;
}