.navbar-content-container {
    background-color: var(--background-component-color);
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 3px 30px -2px rgba(0,0,0,0.75);
    height: 75px;
}

.action-buttons {
    width: 15%;
}

#log-in-link{
    color: var(--btn-secondary-text-color);
    cursor: pointer;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

#log-in-link:hover{
    color: var(--btn-primary-text-color);
    background-color: var(--btn-primary-background-color);
}

#sign-up-button {
    background-color: var(--btn-primary-background-color);
    color: var(--btn-primary-text-color);

    cursor: pointer;
}

#sign-up-button:hover{
    border: 1px solid var(--btn-primary-background-color);
    background-color: var(--background-component-color);
    color: var(--btn-secondary-text-color);
    
    text-shadow: 2px 2px 7px #000000;
}