.sidebar-container {
    min-height: 100vh;
    width: 7%;

    background-color: #CC6633;
    border-radius: 0px 25px 25px 0px;
}

.sidebar-component {
    justify-content:flex-end;
}

.phantom-logo-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nav-links-container-sidebar {
    width: 80%;
    margin: auto;
}


.item-container-sidebar {
    margin: 20% auto;
}

.menu-item-container {
    width: 75%;
    margin: auto;
}

.user-name-container {
    width: 80%;
    margin: auto;
}