.title {
    color: var(--text-medium-title-color);
    font-size: var(--text-font-title-medium);
    font-weight: var(--font-weight-bold);
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.starting-text-container {
    margin-top: 10%;
    color: var(--text-medium-about-color);
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.starting-text-container span {
    color: var(--text-medium-special-color);
}

.ending-text-container {
    margin-top: 10%;
    color: var(--text-medium-about-color);
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.ending-text-container span {
    color: var(--text-medium-special-color);
}

.main-about-section {
    margin-top: 3%;
    color: var(--text-small-default-color);
}

.profile-image-container {
    border: 2px solid black;
    border-radius: 85px;
    width: 500px;
}

.left-atributes-container span {
    color: var(--text-medium-chapters-color);
}

.right-atributes-container span {
    color: var(--text-medium-chapters-color);
}

.left-first-item {
    margin-top: 100px;
    margin-right: 10px;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.left-second-item {
    margin-top: 150px;
    margin-right: 10px;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.right-first-item {
    margin-top: 50px;
    margin-left: 10px;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.right-second-item {
    margin-top: 100px;
    margin-left: 10px;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}