@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
}

.features-container {
    padding-top: 5%;
}

.title-text {
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    font-size: var(--text-font-title-big);
    color: var(--text-medium-title-color);
    font-weight: var(--font-weight-bold);
}

.title-phantom {
    color: var(--text-medium-special-color);
}

.feature-container {
    padding: 5%;
}

.feature-title {
    font-size: var(--text-font-title-medium);
    font-weight: var(--font-weight-bold);
    color: var(--text-medium-chapters-color);
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.feature-text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    font-size: var(--text-font-title-normal);
    color: var(--text-small-default-color);
}

.task-feature-list-description {
    list-style: circle;
    
}